<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>YelpCamp</title>
            <script src="https://kit.fontawesome.com/c7394a92be.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
            <link rel= "stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top"> 
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adex" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="collapse navbar-collapse" id="adex">
                            <ul class="nav navbar-nav">
                                <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
                                <% if(typeof allCampgrounds !== 'undefined') { %>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Campgrounds<span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                          <% allCampgrounds.forEach(function(campgrounds) {%>
                                            <li><a href="/campgrounds/<%= campgrounds._id%>"><%= campgrounds.name%></a></li>
                                          <% }) %>
                                      </ul>
                                    </li>
                                <% } %>
                            </ul>
                            <form action="/campgrounds" method="GET" class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" name="search" placeholder="campground search..." class="form-control">
                                </div>
                                    <input type="submit" value="Search" class="btn btn-default">
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                
                                <% if(!currentUser){ %>
                                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                                <% }else{ %>
                                    <li class="<%= typeof profile !== 'undefined' && profile === 'profile' ? 'active' : '' %>"><a href="/users/<%= currentUser._id%>">My Profile</a></li>
                                    <li><a>Currently signed in as <%=currentUser.username%></a></li>
                                    <li><a href="/logout">log out</a></li>
                                <% } %>
                            </ul>
                    </div>
                </div>
        </nav>
    <div class="container">
        <% if(message && message.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= message %></p>
        </div>
        <% } %>
        <% if(logout && logout.length > 0) { %>
        <div class="alert alert-warning" role="alert">
              <p><%= logout %>. Thank you for visiting our site</p>
        </div>
        <% } %>
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
              <p><%= success %></p>
        </div>
        <% } %>
    </div>    
<div class="container">

<div style="max-width:60rem; width:90%; margin:10px auto;">
    <div class="row">
        <div class="col-xs-12">
            <p style="display:none;" id="info"><%= selectedDate%></p>
            <p style="display:none;" id="price"><%= campground.price%></p>
            <h1 style="text-align:center">Enter Your Details</h1>
            <form action="/campgrounds/<%=campground._id %>/booking" method="POST">
                
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" id="first-name" type="text" name="firstName" placeholder="firstname" required>
                </div>
                
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" id="last-name" type="text" name="lastName" placeholder="lastname" required>
                </div>
                
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" id="email" type="text" name="email" placeholder="email" required>
                </div>

                <div class="form-group">
                    <label>Number of family members</label>
                    <input class="form-control" id="family-member" type="number" name="familyMembers" placeholder="number of family members" required>
                </div>
                
                <div id="duration" class="form-group">
                    <label>Camping Day(s)</label>
                    <br/>
                    <label for="from">From</label> <input type="text" id="from" name="from" required readonly/>  
                    <label for="to">to</label> <input type="text" id="to" name="to" readonly/>
                </div>

                <div class="form-group">
                    <label>Payable Amount</label>
                    <input class="form-control" type="text" id="payable-amount" name="amountPaid">
                </div>
                
                <div class="form-group">
                    <button id="button" class= "btn btn-lg btn-primary btn-block" disabled>Submit!</button>
                </div>
            </form>
            <div id="instruct">Payment Validates Booking: kindly make payment using the below button and return to submit. Thank you.</div>
            <div id="payment-button">
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div id="footer">
      <ul class="nav navbar-nav">
        <li><a>Powered By Adeyinka</a></li>
      </ul>
    </div> 
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script
    src="https://www.paypal.com/sdk/js?client-id=AYL7ygG9wpr9WXKVOUdywxqwpkXm6O8bB848xrl2vUFclZ46UAnS_BUhjJCftf1FYF9RM7pkExcw0GOx"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>
<script src="/scripts/booking.js"></script>

</body>

</html>