<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WhykayCamp</title>
            <script src="https://kit.fontawesome.com/c7394a92be.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
            <link rel= "stylesheet" type="text/css" href="/stylesheets/app.css">
            <link href="/img/favicon.png" rel="icon">
            <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top"> 
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adex" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">WhykayCamp</a>
                    </div>
                    <div class="collapse navbar-collapse" id="adex">
                            <ul class="nav navbar-nav">
                                <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
                                <% if(typeof allCampgrounds !== 'undefined') { %>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Campgrounds<span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                          <% allCampgrounds.forEach(function(campgrounds) {%>
                                            <li><a href="/campgrounds/<%= campgrounds._id%>"><%= campgrounds.name%></a></li>
                                          <% }) %>
                                      </ul>
                                    </li>
                                <% } %>
                            </ul>
                            <form action="/campgrounds" method="GET" class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" name="search" placeholder="campground search..." class="form-control">
                                </div>
                                    <input type="submit" value="Search" class="btn btn-default">
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                
                                <% if(!currentUser){ %>
                                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                                <% }else{ %>
                                    <% if(currentUser.isAdmin) { %>
                                        <li class="<%= typeof page !== 'undefined' && page === 'bookings' ? 'active' : '' %>"><a href="/campgrounds/booking/records">Bookings</a></li>
                                        <li class="<%= typeof page !== 'undefined' && page === 'contacts' ? 'active' : '' %>"><a id="chats-text" href="/contact/list"><span id="chats-format">Chats</span> <% if(chat>0) { %>
                                            <span id="num"><%= chat %></span></a>
                                            <% }else{ %> 
                                                <span id="none"></span></a>
                                            <% } %>
                                        </li>                                    
                                    <% } %>
                                    <li class="<%= typeof profile !== 'undefined' && profile === 'profile' ? 'active' : '' %>"><a href="/users/<%= currentUser._id%>">My Profile</a></li>
                                    <li><a>Currently signed in as <%=currentUser.username%></a></li>
                                    <li><a href="/logout">log out</a></li>
                                <% } %>
                            </ul>
                    </div>
                </div>
        </nav>
    <div class="container">
        <% if(message && message.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= message %></p>
        </div>
        <% } %>
        <% if(logout && logout.length > 0) { %>
        <div class="alert alert-warning" role="alert">
              <p><%= logout %>. Thank you for visiting our site</p>
        </div>
        <% } %>
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
              <p><%= success %></p>
        </div>
        <% } %>
    </div>    


<div class="booking-list">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Username</th>
                <th>Method</th>
                <th>Chat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(function(contact) { %>
            <tr>
                <td><%= contact.date %></td>
                <td><%= contact.username %></td>
                <td><%= contact.method %></td>
                <td><%= contact.chat %></td>
                <td>
                    <% if(contact.attention) { %>
                        cleared
                    <% }else{ %>
                        <form style="display:inline;" action="/contact/<%= contact._id %>/edit?_method=PUT" method="POST">
                            <button>Clear</button>
                        </form>
                    <% } %>
                    <form style="display:inline;" action="/contact/<%= contact._id %>/delete?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div  class="terms">By continuing to browse this site you agree that any data submitted by you can be saved into our database
    and we shall not be liable to any network related isuues you encounter browing this site. You also agree
    that any payment made on this site shall not be refunded. Thank you.
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <span id="terms-toggle" style="cursor: pointer;">Terms</span><span>&#169;2020 Adeyinka</span><span>Whykay&#8482;</span><span><a href="/contact">Contact</a></span>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/scripts/terms.js"></script>

</body>
</html>


